<li class="sidebar-list">
  <i class="fa-solid fa-thumbtack"> </i
  ><a class="sidebar-link sidebar-title" href="#"
    ><svg class="stroke-icon">
      <use href="../assets/svg/icon-sprite.svg#stroke-project"></use></svg
    ><svg class="fill-icon">
      <use href="../assets/svg/icon-sprite.svg#fill-project"></use></svg
    ><span>Projects </span>
    <div class="according-menu"><i class="fa-solid fa-angle-right"></i></div
  ></a>
  <ul class="sidebar-submenu" style="display: none">
    <li>
      <label class="badge badge-light-success">New</label
      ><a href="project-details.html">Project Details</a>
    </li>
    <li><a href="project-list.html">Project List</a></li>
    <li><a href="createnew.html">Create new</a></li>
  </ul>
</li>
